<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Sentiment Analysis</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/bkpic." rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/static/vendor/aos/aos.css" rel="stylesheet" />
    <link
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/glightbox/css/glightbox.min.css"
      rel="stylesheet"
    />
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="/static/contact.css" rel="stylesheet" />
    <script src="/static/js/script.js" defer></script>
  </head>
  <body>
    <div class="na">
      <header id="header" class="fixed-top header-transparent">
        <nav id="navbar" class="navbar">
          <div
            class="container d-flex justify-content-between align-items-center"
          >
            <h1 class="navbar-brand m-0" style="color: white">
              Sentiment Analysis
            </h1>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link scrollto" href="/">Home</a>
              </li>
              <li class="nav-item">
                   <a class="nav-link scrollto active" href="/accuracy"
                   >Accuracy</a
                   >
               </li>
               <li class="nav-item">
                 <a class="nav-link scrollto" href="/contact">Contact</a>
               </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </div>
        </nav>
   
      </header>
    </div>
   <script src="/static/js/main.js"></script>
  </body>
</html>
