<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>Sentiment Analysis</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="assets/img/bkpic." rel="icon" />
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
   
    <link
      href="/static/vendor/bootstrap/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/bootstrap-icons/bootstrap-icons.css"
      rel="stylesheet"
    />
    <link
      href="/static/vendor/boxicons/css/boxicons.min.css"
      rel="stylesheet"
    />
  
    <link href="/static/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />
    <!-- Template Main CSS File -->
    <link href="/static/contact.css" rel="stylesheet" />
    <script src="/static/js/script.js" defer></script>
  </head>

  <body>
    <!-- ======= Header ======= -->

    <div class="na">
      <header id="header" class="fixed-top header-transparent">
        <nav id="navbar" class="navbar">
          <div
            class="container d-flex justify-content-between align-items-center"
          >
            <h1 class="navbar-brand m-0" style="color: white">
              Sentiment Analysis
            </h1>
            <ul class="nav">
              <li class="nav-item">
                <a class="nav-link scrollto" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scrollto" href="/accuracy">Accuracy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link scrollto active" href="/contact">Contact</a>
              </li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
          </div>
        </nav>
      </header>
    </div>
    <div class="contact-body">
      <div class="contact-heading">
        <p style="font-size: 34px">Contact Details</p>
      </div>
      <div id="team-members">
        <article class="team-member">
          <img
            class="team-member-avatar"
            src="https://eu.ui-avatars.com/api/?name=Shravanth Reddy M R&amp;size=250"
            alt="Team Member"
          />
          <div class="team-member-name">
            <h3>Shravanth Reddy M R</h3>
            <p>Team Member</p>
          </div>
          <ul class="social-links">
            <li>
              <a href="mailto:udaykumarchinni2706@gmail.com"
                ><i class="bi bi-envelope-fill"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/Uday6747"
                ><i class="bi bi-github"></i
              ></a>
            </li>
          </ul>
        </article>
        <article class="team-member">
          <img
            class="team-member-avatar"
            src="https://eu.ui-avatars.com/api/?name=Harshavardhana B S&amp;size=250"
            alt="Team Member"
          />
          <div class="team-member-name">
            <h3>Harshavardhana B S</h3>
            <p>Team Member</p>
          </div>
          <ul class="social-links">
            <li>
              <a href="mailto:udaykumarchinni2706@gmail.com"
                ><i class="bi bi-envelope-fill"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/Uday6747"
                ><i class="bi bi-github"></i
              ></a>
            </li>
          </ul>
        </article>
        <article class="team-member">
          <img
            class="team-member-avatar"
            src="https://eu.ui-avatars.com/api/?name=Shreyas P&amp;size=250"
            alt="Team Member"
          />
          <div class="team-member-name">
            <h3>Shreyas P</h3>
            <p>Team Member</p>
          </div>
          <ul class="social-links">
            <li>
              <a href="mailto:udaykumarchinni2706@gmail.com"
                ><i class="bi bi-envelope-fill"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/Uday6747"
                ><i class="bi bi-github"></i
              ></a>
            </li>
          </ul>
        </article>
        <article class="team-member">
          <img
            class="team-member-avatar"
            src="https://eu.ui-avatars.com/api/?name=Shubhankar Sharma&amp;size=250"
            alt="Team Member"
          />
          <div class="team-member-name">
            <h3>Shubhankar Sharma</h3>
            <p>Team Member</p>
          </div>
          <ul class="social-links">
            <li>
              <a href="mailto:udaykumarchinni2706@gmail.com"
                ><i class="bi bi-envelope-fill"></i
              ></a>
            </li>
            <li>
              <a href="https://github.com/Uday6747"
                ><i class="bi bi-github"></i
              ></a>
            </li>
          </ul>
        </article>
      </div>
    </div>

    <div id="preloader"></div>
    <a
      href="#"
      class="back-to-top d-flex align-items-center justify-content-center"
      ><i class="bi bi-arrow-up-short"></i
    ></a>

    <script src="/static/js/main.js"></script>
  </body>
</html>
